/* DEBUG */
/* 
* {
    font-family: 'Roboto', sans-serif;
    font-size: 101%;
    line-height: 1.2em;
    letter-spacing: 0.5px;
} */



.v-b- {
    border: 1px solid silver;
    padding:2px;
    margin:2px;
}

.v-b- * {
    
    border: 1px solid silver;
    min-width: 10px; 
    min-height: 10px;
    padding:2px;
    margin:2px;

}



/* specific to site ---------------------*/
.v-job {
    border-top: 0px solid #CCC;
    padding: 30px 0 30px 0;
}


.v-pos {
    width: 450px; 
    text-align: right; 
    padding: 0 20px 20px 20px;
}

.v-descr {

    width: 450px; 
    padding: 0 20px 0 20px;
    border-left: 1px solid #CCC;
    position: relative;
}

.v-pos p {
    margin:0;
}

.v-dot:before {
    content: "";
    position:absolute;
    left: -3px;
    top: -3px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: black;
}


.v-cc p {
    margin-top: 1em;
}

.v-micon {
    margin: 5px;
    border: 0px solid yellow;
    height: 40px;
    width: 40px;
    margin: 15px;
}

.v-star{
    letter-spacing: 2px;
    font-size: 1.2em;
    font-weight: bold;
    min-width: 200px;
    text-align: center;
}

.v-star::before {
    content: "★ ";
    font-size: 1.2em;
    color: crimson;
    letter-spacing: 4px;
    
}

.bg0 {
    background-color: white;
}

.bg1 {
    background-color: #F1F1F1;
}

.bg2 {
    background-color: #6B7190 ;
}


.bg3 {
    background-color: #51587C ;
}

.bg4 {
    background-color: #192351;
}

.bg4i {
    /* background-color: #192351; */
    background: url( /assets/img/back1.jpg );
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center; 
    overflow: hidden;
    
}

/* .bg4i::before {
    content: "";
    background: url( /assets/img/back.jpg );
    background-clip: content-box;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* height:350px; */
    position: absolute;
    z-index: -0;  
    background-position: center; 
  } */



nav a {
    font-variant: small-caps;
}

/* --------- general ---------- */

.v-red {
    background-color: crimson !important;
}

.v-df {
    display: flex;
}

.v-db {
    display: block;
}

.v-di {
    display: inline;
}


.v-fw {
    flex-wrap: wrap;
}

.v-fae {
    display: flex;
    align-items: flex-end;
}

.v-fas {
    display: flex;
    align-items: flex-start;
}

.v-fac {
    display: flex;
    align-items: fcenter;
}

.v-fjs {
    display: flex;
    justify-content: flex-start;
}

.v-fjc {
    display: flex;
    justify-content: center;
}

.v-fje {
    display: flex;
    justify-content: flex-end;
}

/* -------------------------------- */
.v-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Small screens */

@media all and (max-width: 950px) {

    .v-950 {display: none;}
    .v-pos {
        text-align: left;
    }


}
  
